---
- name: Deploy WAR to WildFly servers
  hosts: wildfly
  become: yes

  tasks:
    - name: Create backup directory
      file:
        path: /opt/backup
        state: directory

    - name: Backup old WAR (if exists)
      shell: cp /opt/wildfly/standalone/deployments/sampleapp.war /opt/backup/sampleapp.war
      ignore_errors: yes

    - name: Copy new WAR
      copy:
        src: /var/lib/jenkins/workspace/wildfly-cicd/target/sampleapp-1.0.war
        dest: /opt/wildfly/standalone/deployments/sampleapp.war

    - name: Restart WildFly
      service:
        name: wildfly
        state: restarted
