- hosts: wildfly
  become: yes
  tasks:

    - name: Ensure WildFly deployment directory exists
      file:
        path: /opt/wildfly/standalone/deployments
        state: directory

    - name: Ensure backup directory exists
      file:
        path: /opt/apps
        state: directory

    - name: Backup old WAR if exists
      copy:
        src: /opt/wildfly/standalone/deployments/sample.war
        dest: /opt/apps/backup.war
        remote_src: yes
      ignore_errors: yes

    - name: Deploy new WAR
      copy:
        src: ../app/target/sample.war
        dest: /opt/wildfly/standalone/deployments/sample.war

    - name: Restart WildFly
      shell: /opt/wildfly/bin/standalone.sh -b 0.0.0.0 &
