---
- name: Rollback WAR deployment
  hosts: wildfly
  become: yes

  tasks:
    - name: Restore old WAR
      shell: cp /opt/backup/sampleapp.war /opt/wildfly/standalone/deployments/sampleapp.war

    - name: Restart WildFly
      service:
        name: wildfly
        state: restarted
