- hosts: wildfly
  become: yes
  tasks:

    - name: Restore backup WAR
      copy:
        src: /opt/apps/backup.war
        dest: /opt/wildfly/standalone/deployments/sample.war
        remote_src: yes
      ignore_errors: yes

    - name: Restart WildFly
      shell: /opt/wildfly/bin/standalone.sh -b 0.0.0.0 &
